<li>
	<span id="bookItem"><span id="titleTag">{{title}}</span> by {{author}}</span>

	<button class="devour btn btn-sm btn-secondary" data-id="{{id}}">
		Devour
	</button>

	{{!-- <button class="deleteBook btn btn-sm btn-secondary" data-id="{{this.id}}">Dust bin</button> --}}
</li>